* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1150px;
    height: 350px;
    margin: 0 auto;
    position: relative;
}

.header_top {
    height: 40px;
    background-color: rgb(6, 92, 52, 0.85);
    color: white;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    top: 0;
    font-weight: bold;
}

.dienthoai {
    position: absolute;
    left: calc(50% - 580px);
    line-height: 40px;
    text-align: center;
}

.email {
    position: absolute;
    line-height: 40px;
    left: calc(50% - 300px);
    justify-content: center;
}

.login {
    position: absolute;
    width: 250px;
    left: calc(50% + 295px);

}

.login>div {
    float: left;
    width: 120px;
    height: 40px;
    position: relative;
    justify-content: center;

}

.login a {
    color: white;
    padding-left: 15px;
    position: absolute;
    top: 10px;

}

.login>div:hover {
    background-color: rgb(255, 108, 1);
    border-radius: 10px;
}

header {
    height: 80px;
    left: 0;
    right: 0;
    top: 40px;
    position: fixed;

    z-index: 2;
    background: white;


}


#logoAT01 {
    position: absolute;
    top: 5px;
    left: calc(50% - 580px);
    width: 230px;
    height: 70px;
}

header>table {
    position: absolute;
    width: 700px;
    top: 20px;
    left: calc(50% - 300px);
}


.basket {
    border-radius: 20px;
    width: 145px;
    height: 40px;
    background-color: orange;
    position: absolute;
    top: 20px;
    left: calc(50% + 390px);
    text-align: center;
    cursor: pointer;
}

.basket:hover {
    background-color: rgb(109, 174, 11);
}

.basket>a {
    color: white;
    position: absolute;
    top: 10px;
    left: 30px;
}

nav {
    height: 48px;
    background-color: rgb(6, 92, 52, 0.85);
    position: fixed;
    top: 0px;
    z-index: 2;
    margin-top: 0px;
    left: 0;
    top: 120px;
    right: 0;
}

.fa-home {
    position: relative;
    bottom: 8px;
}

nav>ul {
    position: absolute;
    left: calc(50% - 582px);
}

nav>ul>li {
    float: left;
    height: 48px;
    padding: 15px;
}

nav>ul>li:hover {
    background-color: rgb(255, 108, 1);
}

nav>ul>li>a {
    color: white;
}

i.arrow-down {
    margin-left: 10px;
}

.subnav {
    width: 120px;
    position: absolute;
    top: 48px;
    right: -12px;
    display: none;

    color: white;

    border: 1px solid rgb(255, 108, 1);
    background-color: rgba(6, 92, 52);

}

.subnav>li {
    transition: 0.1s;
}

.subsanpham {
    width: 122px;
    position: absolute;
    top: 48px;
    left: 46%;
}

.subhoaqua {
    display: none;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 117px;
    background-color: rgb(6, 92, 52);

    color: white;
}

.subhoaqua>li>a {
    color: white;
}

.subhoaqua>li {
    padding-left: 10px;
}

li:nth-child(3):hover>.subhoaqua {
    display: block;
}

.subhoaqua>li:hover {
    background-color: rgb(255, 108, 1);
    transform: scale(1.02);

}


.subnav>li {

    border: 1px dotted gray;
    padding-left: 10px;

}

.subnav>li:hover {
    background-color: rgb(255, 108, 1);
    transform: scale(1.02);

}

.subnav>li>a {
    color: white;
}

i.fa {
    color: white;
    padding-right: 10px;
}

i.fa-facebook {
    padding-right: 18px;
}

i.fa-envelope-o {
    padding-right: 10px;
}

i.fa-phone-square {
    padding-right: 12px;
}

nav>ul>li:hover>.subnav {
    display: block;
}

nav>img {
    width: 200px;
    height: 40px;
    position: absolute;
    left: calc(50% + 20px);
}

nav>input {
    width: 200px;
    position: absolute;
    left: calc(50% + 335px);
    top: 8px;
    background-color: white;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 9px;
}


.container {
    width: 1150px;
    height: 1000px;
    margin: 0 auto;
    position: relative;

    top: 220px;
}

.col-left {
    float: left;
    width: 265px;
    position: relative;
    top: 0;
    height: 1500px;

}

.mini-item {
    float: left;
    width: 100%;
    border: 1px solid rgb(240, 239, 239);
    height: 100px;
    margin-left: -10px;
    margin-top: 20px;
}

.mini-item img {
    float: left;  
    margin-top: 25px;
    width: 30%;
    border: 1px solid rgb(251, 244, 244);
    cursor: pointer;
}
.mini-item-content{
    float: left;
    width: 60% ;
    margin: 10px 0 0 10px;
    
}

.mini-item-content a{
    color: black;
    line-height: 1.2;
}
.mini-item-content a:hover{
    color: green;
    
}

.col-right {
    float: right;
    margin-left: 15px;
    width: 850px;
}

.tintuc {
    height: 705px;
   
}
.tintuc-item{
    border: 1px solid rgb(246, 242, 242);
    border-radius: 10px;
    height: 210px;
    margin-top: 20px;
    
}
.tintuc-item img{
    width: 30%;
    margin: 15px 0 0 15px;
    float: left;
    cursor: pointer;
}
.tintuc-item a{
    color: rgb(56, 54, 54);
    font-weight: bold;
}
.tintuc-item a:hover{
    color: green;
}
.tintuc-item-content {
    width: 60%;
    float: left;
    height: 10%;
    margin-left: 20px;
    text-align:justify;
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    line-height: 25px;
}
i.fa-calendar{
    color: black;
}

.product>.item {
    width: 29%;
    height: 475px;
    position: relative;
    box-shadow: 0 0 10px rgb(229, 228, 228);
    float: left;
    margin: 17px;
    transition: 0.1s;
    cursor: pointer;
}


.product>div:hover {
    box-shadow: 5 5 15px gray;
    background-color: rgb(128, 128, 128, 0.1);
    transform: scale(1.03);
    border-bottom: 2px solid green;
}

h3 {
    height: 40px;
    border: 1px solid green;
    background-color: rgb(0, 168, 89);
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin: 20px 0 20px -10px;
    padding: 5px 20px;
    line-height: 30px;

}

.listname {
    float: left;
    width: 265px;
    background-color: rgb(0, 168, 89);
    text-transform: uppercase;

}







section.veget-fresh {
    width: 1175px;
    height: 80px;
    position: absolute;
    top: 1000px;
    left: calc(50% - 580px);

}

.veget-fresh img {
    width: 175px;
    height: 80px;
    float: left;
    border-radius: 10px;
    margin-right: 60px;

}
section.veget-fresh a:hover{
    opacity: 0.5;
}

footer {

    left: 0;
    right: 0;
    position: absolute;
    height: 220px;
    color: green;
    background: url(../images/logoAT01.png) no-repeat;
    background-size: 10%;
    background-position: calc(50% - 100px);
    background-position-y: 80px;
    background-color: rgb(0, 128, 0, 0.25);
    top: 1200px;
}


footer>table {
    width: 800px;
    
    position: absolute;
    left: calc(50% - 585px);

}

th>ul>li {
    list-style: none;
    padding-top: 20px;

    width: 500px;
}

th>ul>li>a {
    color: green;
}

th>ul>li>a:hover {
    opacity: 0.6;
}


.fb-page {
    position: absolute;
    top: 80px;
    
    left: calc(50% + 285px);
    width: 300px;
   
}